@import "gruvbox.css";

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	font-size: 12px;
}

window#waybar {
	background: @background;
	color: @foreground;
}

@keyframes blink {
	to {
		color: @background;
	}
}

#idle_inhibitor, #pulseaudio, #custom-spotify, #custom-pidgin, #network, #cpu, #memory, #temperature, #backlight, #battery, #clock, #tray {
	margin: 5px 0px 5px 0px;
}


#memory.alert {
	color: @foreground;
	text-shadow: 0 0 3px @yellow_b;
}
#memory.warning {
	color: @foreground;
	text-shadow: 0 0 3px @orange_b;
}
#memory.critical {
	color: @foreground;
	text-shadow: 0 0 3px @red_b;
}
#memory.supercritical {
	color: @red_b;
	text-shadow: 0 0 3px @red_b;
	animation: blink 0.5s linear infinite alternate;
}


#backlight.black { text-shadow: 0 0 3px @red_b; }
#backlight.dark { text-shadow: 0 0 3px @yellow_b; }
#backlight.dim { text-shadow: 0 0 3px @foreground, 0 0 1px @foreground; }
#backlight.bright { text-shadow: 0 0 3px @foreground, 0 0 2px @foreground; }
#backlight.white { text-shadow: 0 0 3px white, 0 0 1px white, 0 0 2px white; }


#battery.empty { color: @red_b; }
#battery.critical { color: @orange_b; }
#battery.low { color: @yellow_b; }
#battery.normal { color: @green_b; }
#battery.full { color: @foreground; }
#battery.charging { text-shadow: 0 0 3px @green_b; }
#battery:not(.charging) { text-shadow: none; }


#custom-spotify {
	min-height: 380px;
}


#mode {
	border-bottom: 3px solid @foreground;
	background: @red;
}

#workspaces button {
	border-bottom: 3px solid transparent;
	padding: 0;
	background: transparent;
	color: @foreground;
}
#workspaces button.focused {
	background: @foreground;
	color: @background;
}
#workspaces button.urgent {
	background: @yellow_b;
	background: @orange_b;
}

