window {
    background-color: #282828; 
    color: #ebdbb2;
}

#input {
    background-color: #ebdbb2;
    color: #282828; 
}

#entry:nth-child(2n) {
    /* background-color: #32302f; */
    background-color: #1d2021;
}
#entry:selected {
    /* background-color: #282828; */ 
    /* background-color: #fabd2f; */
    background-color: #d79921;
    /* color: #fabd2f; */
    color: #282828; 
	/* font-weight: bold; */
}
